:root {
  --primary-main: #8a84e2;
  --primary-light: #84afe6;
  --primary-dark: #79beee;
  --secondary-main: #615d9b;
  --error-main: #ef9a9a;
  --warning-main: #ffcc80;
  --info-main: #90caf9;
  --success-main: #a5d6a7;
  --background-default: #f5f5f5;
  --background-paper: #ffffff;
  --button-hover: #8a84e2;
  --button-focus: #615d9b;
}
