services:
  postgres:
    image: postgres:17-alpine
    env_file: ./pwa-backend/.env
    networks:
      - backend_network
    command: >
      postgres
      -c shared_preload_libraries=pg_stat_statements
      -c pg_stat_statements.track=all
      -c max_connections=100
    volumes:
      - postgres_data:/var/lib/postgresql/data
      # - ./backup:/backup
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d db"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s

  backend:
    build:
      context: ./pwa-backend
      dockerfile: Dockerfile.prod
    expose:
      - "3000"
    env_file: ./pwa-backend/.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend_network
      - frontend_network
    restart: unless-stopped
  frontend:
    build:
      context: ./pwa-frontend
      dockerfile: Dockerfile.prod
      args:
        - REACT_APP_BACKEND_URL=${REACT_APP_BACKEND_URL:-backend}
        - REACT_APP_API_URL=${REACT_APP_API_URL:-/api}
    expose:
      - "80"
    environment:
      REACT_APP_BACKEND_URL: backend
      REACT_APP_API_URL: ${REACT_APP_API_URL:-/api}
    depends_on:
      - backend
    networks:
      - frontend_network
      - backend_network

    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis_prod
    command: redis-server --requirepass pswd --appendonly yes
    volumes:
      - redis_data:/data
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - backend_network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "pswd", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./pwa-frontend/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
    networks:
      - frontend_network
      - backend_network

networks:
  frontend_network:
    driver: bridge
  backend_network:
    driver: bridge
    internal: true

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
